<div class="container-menu">
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/expresiones']">Expresiones</a>
            </li>
            <li>
                <a [routerLink]="['/componente-hijo']">Componente Hijo</a>
            </li>
            <li>
                <a [routerLink]="['/formulario-reactivo']">Formulario Reactivo</a>
            </li>
            <li>
                <a [routerLink]="['/servicio']">Servicio</a>
            </li>
        </ul>
    </nav>
</div>
<hr>